numpy
pandas
matplotlib
scikit-learn
fastai
mlflow
xgboost
interpret
imbalanced-learn
#pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118 
# adjust torch for your system @ https://pytorch.org/ 